{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "flowtype"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        // disable this because it's an invalid syntax
        // otherwise it will cause an error
        // when using without transpiling in `internal`
        "functions": "never"
      }
    ],
    "global-require": 0,
    "flowtype/no-weak-types": "error",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    // use flow
    "react/prop-types": 0,
    // copy of airbnb but add type-annotations
    "react/sort-comp": [
      "error",
      {
        "order": [
          "type-annotations",
          "static-methods",
          "lifecycle",
          "/^on.+$/",
          "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
          "everything-else",
          "/^render.+$/",
          "render"
        ]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        // do not report error if matched
        "devDependencies": [
          "{config,internal}/**/*.js",
          "**/*.test.js"
        ]
      }
    ]
  }
}
