.spinner {
  position: relative;
  width: 4rem;
  height: 4rem;
}

.bounce1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: color(black alpha(0.1));
  will-change: transform;
  animation: bounce 2s infinite $easing-standard;
}

.bounce2 {
  composes: bounce1;
  animation-delay: -1.0s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
