.wrapper {
  display: flex;

  & > :not(:last-child) {
    margin-right: 0.2rem;
  }
}

.button {
  margin-right: 0.5rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background-color: white;
  &:focus {
    outline: none;
  }
}

.button__active {
  composes: button;
  background-color: #f8bbd0;
  border-color: transparent;
}
