.controls_wrapper {
  position: relative; // for indicator
  display: flex;
  justify-content: center;
}

// Temporary: composes from different file currently doesn't work
.buttonReset {
	background: none;
	border: 0;
  display: inline-block;
  margin: 0;
	padding: 0;
  vertical-align: middle;
	white-space: normal;
	line-height: 1;
  -webkit-tap-highlight-color: transparent;  /* remove button highlight when tap */
}

.control {
  composes: buttonReset;
  box-sizing: border-box;
  // use flex to vertically middle-align it's content with min-height
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  padding: 0.5rem 1rem;
  max-width: 16.5rem;
  min-height: 3rem;
  color: #666;
  background-color: white;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    color: $primary-accent;
    outline: none;
  }
}

.control__active {
  composes: control;
  color: $primary-accent;
}

.control_indicator {
  position: absolute;
  bottom: 0;
  display: block;
  height: 2px;
  background-color: $primary-accent;
  will-change: left, width;
}

.panels_wrapper {
  // position: relative;
  overflow: hidden;
}

.panels_track {
  display: flex;
  background-color: white;
  will-change: transform;
}

.panel {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 0;
  flex-shrink: 0;
  // ensure inactive elements and their children do not receive focus
  // https://developer.mozilla.org/en-US/docs/Web/CSS/visibility
  visibility: hidden;
}

.panel__active {
  composes: panel;
  visibility: visible;
}
